In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import re
import os
import sys
sys.path.append('../')

In [19]:
import re

In [ ]:
for file in ls

In [18]:
read_file = pd.read_csv ('./SW_EpisodeIV.txt', sep= " ")

In [37]:
df1 = pd.read_csv('../data/SW_EpisodeV.csv')

In [20]:
read_file.to_csv ('./data/SW_EpisodeVI.csv', index=None)

In [18]:
dfs = ["IV", "V", "VI"]

In [46]:
def sustituye(x):
    x = str(x).replace("'", " ")
    x = str(x).replace("'", " ")

    return x

In [47]:
for ep in dfs:
    df = pd.read_csv (f'../data/SW_Episode{ep}.txt', sep= " ")
    #df = pd.read_csv(f'../data/SW_Episode{ep}.csv')
    df["episode"]= df.character.apply(lambda x: f"{ep}")
    df["dialogue"] = df.dialogue.apply(sustituye)

    df.to_csv (f'../data/SW_Episode{ep}.csv', index=None)

In [3]:
df1 = pd.read_csv('../data/SW_EpisodeIV.csv')

In [16]:
df1["episode"]= df1.character.apply(lambda x: "IV")

In [39]:
df.character.value_counts()

HAN                       124
LUKE                      112
THREEPIO                   90
LEIA                       56
VADER                      43
LANDO                      40
EMPEROR                    39
JABBA                      20
BEN                        18
ACKBAR                     14
YODA                       13
WEDGE                      11
PIETT                       8
BOUSHH                      7
JERJERROD                   7
COMMANDER                   7
NINEDENINE                  6
BIB                         6
STORMTROOPER                6
CONTROLLER                  5
MON MOTHMA                  3
REBEL PILOT                 3
GUARD                       2
SCOUT #1                    2
SHUTTLE CAPTAIN             2
ANAKIN                      2
GENERAL MADINE              2
DEATH STAR CONTROLLER       1
BUNKER COMMANDER            1
LURE                        1
PILOT                       1
SECOND COMMANDER            1
CONTROL ROOM COMMANDER      1
HAN/PILOT                   1
PILOT #2                    1
WALKER PILOT #1             1
Y-WING PILOT                1
NAVIGATOR                   1
RED THREE                   1
RED TWO                     1
OFFICER                     1
VOICE                       1
OPERATOR                    1
RED LEADER                  1
GREEN LEADER                1
GRAY LEADER                 1
STRANGE VOICE               1
SCOUT                       1
OOLA                        1
HAN and LUKE                1
SCOUT #2                    1
SCOUT #l                    1
PILOT VOICE                 1
Name: character, dtype: int64

In [40]:
df[df.character == "ANAKIN"]

    line character                                           dialogue episode
661  662    ANAKIN                        Now...go, my son. Leave me.      VI
663  664    ANAKIN  You already have, Luke. You were right about m...      VI