In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import re
import os
import sys
sys.path.append('../')
import src.data_to_sql as up

Introduce tu pass de sql: ········
me conecté a starwars

In [2]:
data = pd.read_csv('../data/SW_EpisodeIV.csv')

In [3]:
df=data.head(1)
df

   line character                                           dialogue episode
0     1  THREEPIO  Did you hear that?  They ve shut down the main...      IV

In [17]:
import sqlalchemy as alch
from getpass import getpass
#from import tools.sql_tools as sql

password = getpass("Introduce tu pass de sql: ")
dbName="starwars"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

Introduce tu pass de sql: ········

In [5]:
for index,row in data.iterrows():
    up.insertLine(row)

In [5]:
row.dialogue

"Did you hear that?  They've shut down the main reactor.  We'll be destroyed for sure.  This is madness!"