# Upload data to database
### imports

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import re
import os
import sys
sys.path.append('../')
import requests
import json

In [6]:
data = pd.read_csv('../data/SW_EpisodeV.csv')

In [3]:
df=data.head(1)
df

   line character                                           dialogue episode
0     1  THREEPIO  Did you hear that?  They ve shut down the main...      IV

### connect with SQL

In [17]:
import sqlalchemy as alch
from getpass import getpass
#from import tools.sql_tools as sql

password = getpass("Introduce tu pass de sql: ")
dbName="starwars"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

Introduce tu pass de sql: ········

In [7]:
for index,row in data.iterrows():
    up.insertLine(row)

## Trying the API

In [4]:
requests.get("http://127.0.0.1:5000/")

In [5]:
dt = requests.get("http://127.0.0.1:5000/lines/VADER").json()
pdf = pd.json_normalize(dt)
pdf.head(5)

                                            script_l
0     Where are those transmissions you intercepted?
1  If this is a consular ship... where is the Amb...
2  Commander, tear this ship apart until you ve f...
3  Don t play games with me, Your Highness.  You ...
4  You re a part of the Rebel Alliance... and a t...

### POST method with the API

In [4]:
url = "http://127.0.0.1:5000/newline"
frase = {"script_l": "Hello there!", "character": "OBI-WAN", "episode": "IV"}
requests.post(url, data=frase)

In [8]:
frase = {"script_l": "Command station, this is ST 321. Code Clearance Blue. We re starting our approach. Deactivate the security shield.", "character": "SHUTTLE CAPTAIN", "episode": "VI"}

In [9]:
v = requests.post(url, data=frase)
v.content

b'successfully loaded: SHUTTLE CAPTAIN,Command station, this is ST 321. Code Clearance Blue. We re starting our approach. Deactivate the security shield.,VI'

### POST a full csv

In [6]:
data_ = pd.read_csv('../data/SW_EpisodeVI.csv')

In [7]:
data_ =data_.to_json(orient="records")

In [8]:
type(data_)

str

In [13]:
url = "http://127.0.0.1:5000/newlines"

In [15]:
import requests

In [25]:
requests.post(url, json=data_)

In [24]:
dt = requests.get("http://127.0.0.1:5000/all_lines").json()
pdf = pd.json_normalize(dt)

In [25]:
pdf.sample(5)

,script_l,name,episode
0,Hello there!,OBI-WAN,IV
1,We ll get to work on him right away.,TECHNICIAN,IV
2,Look out!,WINGMAN,IV
3,"His computer s off. Luke, you switched off yo...",BASE VOICE,IV
4,The guns... they ve stopped!,GOLD TWO,IV
...,...,...,...
1784,"Might I have a word with you, please?",THREEPIO,V
1785,"Excuse me, sir.",THREEPIO,V
1786,"Oh, switch off.",THREEPIO,V
1787,Don t try to blame me. I didn t ask you to tur...,THREEPIO,V
1788,"Command station, this is ST 321. Code Clearanc...",SHUTTLE CAPTAIN,VI